In [234]:
import pandas as pd
import numpy as np

In [235]:
columns_names = ['surgery',
         'Age',
         'Hospital_Number',
         'rectal_temperature',
         'pulse',
         'respiratory_rate',
         'temperature_of_extremities',
         'peripheral_pulse',
         'mucous_membranes',
         'capillary_refill_time',
         'pain',
         'peristalsis',
         'abdominal_distension',
         'nasogastric_tube',
         'nasogastric_reflux',
         'nasogastric_reflux_PH',
         'rectal_examination',
         'abdomen',
         'packed_cell_volume',
         'total_protein',
         'abdominocentesis_appearance',
         'abdomcentesis_total_protein',
         'outcome',
         'surgical_lesion?',
         'type_of_lesion',
         'none',
         'none2',
         'cp_data']
df = pd.read_csv('horse_data.csv', names = columns_names, na_values = '?')
df.head()
stat_horse = df[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']]
stat_horse.info()
stat_horse.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [236]:
'''посмотрим общую статистику по df \n
колонки surgery?, Age, temperature_of_extremities, pain, outcome не интересны нам для анализа т.к. они несут информацию по категориальной величине \n
 В описании колонок, колонка Age может в стебе содержать категориальные значения 1 - взрослая особь и 2 - молодая.\n
 Т.к. в данной колонке присутствуют только значения 1 и 9 делаем предположение, что 9 относится к молому животному'''
stat_horse.describe()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [237]:
print('Выбросы по ректальной температуре')
q1 = stat_horse['rectal_temperature'].quantile(0.25)
q3 = stat_horse['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = stat_horse[stat_horse['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
pd.concat([stat_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('rectal_temperature').head(15)
# Посчитали выбросы по колонке ректальная температура.
# Большинство выбросов связаны с отсутсвием данных. 
# Остальные выбросы из анализа удалять не нужно, т.к. и высокая (40.8) и низкая (35.4) температура имеет место быть

Выбросы по ректальной температуре

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [238]:
print('Выбросы по пульсу')
q1 = stat_horse['pulse'].quantile(0.25)
q3 = stat_horse['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = stat_horse[stat_horse['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
#remove_outliers
pd.concat([stat_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('pulse').head(6)
# Посчитали выбросы по колонке пульс.
# Большинство выбросов связаны с отсутсвием данных. 
# Остальные выбросы так же возможны, удалять не будем

Выбросы по пульсу

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [239]:
print('Выбросы по частоте дыхания')
q1 = stat_horse['respiratory_rate'].quantile(0.25)
q3 = stat_horse['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = stat_horse[stat_horse['respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory_rate')
pd.concat([stat_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('respiratory_rate').head(16)
# Посчитали выбросы по колонке пульс.
# Выводы те же. Большинство выбросов связаны с отсутсвием данных. Остальные так же имеют место быть

Выбросы по частоте дыхания

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [240]:
(stat_horse.isna().mean()* 100).round(2)
#посмотрим % пропусков по колонкам

surgery                        0.33
Age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [241]:
#Начнем с колонок, содержащих меньше всего пропусков.
print(stat_horse.groupby(['Age','pain'])['outcome'].median())
# Посмотрев статистку по возрасту и остроте боли можно сделать выводы, что молодые лошади погибали чаще, чем взрослые особи.
# Взрослые особи умирали в основном при сильных болях.
# На основании этих данных заполняем пропуск в колонке outcome
# к grouby нельзя применить метод mode, поэтому применила медиану
stat_horse['outcome'].fillna(stat_horse.groupby(['Age','pain'])['outcome'].transform('median'), inplace=True)
stat_horse['outcome'].value_counts()

Age  pain
1    1.0     1.0
     2.0     1.0
     3.0     1.0
     4.0     2.0
     5.0     2.0
9    1.0     2.0
     2.0     2.0
     3.0     1.0
     4.0     2.0
     5.0     2.0
Name: outcome, dtype: float64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

1.0    178
2.0     78
3.0     44
Name: outcome, dtype: int64

In [242]:
#Напишем функцию для разделении температуры/пульса/дыхания на категории: нормальная, повышенная, пониженная

### Тут у меня вопрос. Убила несколько дней в попытке написать универсальную функцию, которую можно было бы применить к нескольким столбцам с доп переменными
### Т.е. def category(age, indicator, нижняя граница для взросылх, верхняя граница для взрослых, нижняя для молодых, верхняя для молодых)
### Что бы в итоге можно было применить одну функцию для создания 3ех новых столбцов с категорией
### где в переменных передавать столбец с возрастом (age), нужный столбец для анализа  - ректальная температура/пульс/частота дыхания (indicator) и показания нормы для взрослых молодых животных
### Как можно это сделать?
def rec_t_category(data):
    if data['Age'] == 1:
        if data['rectal_temperature'] < 37.2:
            return 'пониженная'
        elif data['rectal_temperature'] <= 38.3:
            return 'нормальная'
        elif data['rectal_temperature'] > 38.3:
            return 'повышенная'
        return data['rectal_temperature']
    else:
        if data['rectal_temperature'] < 37.5:
            return 'пониженная'
        elif data['rectal_temperature'] <= 38.9:
            return 'нормальная'
        elif data['rectal_temperature'] > 38.9:
            return 'повышенная'
        return data['rectal_temperature']
def pulse_category(data):
    if data['Age'] == 1:
        if data['pulse'] < 28:
            return 'пониженная'
        elif data['pulse'] <= 44:
            return 'нормальная'
        elif data['pulse'] > 44:
            return 'повышенная'
        return data['pulse']
    else:
        if data['pulse'] < 80:
            return 'пониженная'
        elif data['pulse'] <= 100:
            return 'нормальная'
        elif data['pulse'] > 80:
            return 'повышенная'
        return data['pulse']
def resp_r_category(data):
    if data['Age'] == 1:
        if data['respiratory_rate'] < 10:
            return 'пониженная'
        elif data['respiratory_rate'] <= 24:
            return 'нормальная'
        elif data['respiratory_rate'] > 24:
            return 'повышенная'
        return data['respiratory_rate']
    else:
        if data['respiratory_rate'] < 20:
            return 'пониженная'
        elif data['respiratory_rate'] <= 40:
            return 'нормальная'
        elif data['respiratory_rate'] > 40:
            return 'повышенная'
        return data['respiratory_rate']
stat_horse['rec_t_category'] = stat_horse.apply(rec_t_category, axis = 1)
stat_horse['pulse_category'] = stat_horse.apply(pulse_category, axis = 1)
stat_horse['resp_r_category'] = stat_horse.apply(resp_r_category, axis = 1)
stat_horse.head(10)

<ipython-input-242-1b116d7ec3e5>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['rec_t_category'] = stat_horse.apply(rec_t_category, axis = 1)
<ipython-input-242-1b116d7ec3e5>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['pulse_category'] = stat_horse.apply(pulse_category, axis = 1)
<ipython-input-242-1b116d7ec3e5>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['resp_r_category'] = stat_horse.apply(resp_r_category, axis = 1)

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,rec_t_category,pulse_category,resp_r_category
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,повышенная,повышенная,повышенная
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,повышенная,повышенная,нормальная
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,нормальная,нормальная,нормальная
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,повышенная,повышенная,повышенная
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0,нормальная,повышенная,повышенная
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,NaN
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0,нормальная,повышенная,нормальная
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0,NaN,повышенная,NaN
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0,NaN,повышенная,повышенная
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0,нормальная,нормальная,NaN

In [346]:
###Здесь пример того, что я хотела сделать из описанного вопроса выше:
#def class_group(age, indicator, lower_bound_adult, upper_bound_adult, lower_bound_young, upper_bound_young):
#    if age == 1:
#        if indicator < lower_bound_adult:
#            return 'пониженная'
#        elif indicator < upper_bound_adult:
#            return 'нормальная'
#        elif indicator > upper_bound_adult:
#            return 'повышенная'
#        return indicator
#    else:
#        if indicator < lower_bound_young:
#            return 'пониженная'
#        elif indicator < upper_bound_young:
#            return 'нормальная'
#        elif indicator > upper_bound_young:
#            return 'повышенная'
#        return indicator
#stat_horse['rec_t_category'] = stat_horse[['Age', 'rectal_temperature']].apply(class_group, lower_bound_adult = 37.2, upper_bound_adult = 38.3, lower_bound_young = 37.5, upper_bound_young = 38.9, axis =1)
#stat_horse.head()

In [243]:
# Посмотрим значения по пульсу
print(stat_horse['pulse_category'].value_counts())
print(stat_horse.groupby(['Age','pain'])['pulse'].median())
stat_horse.groupby(['Age','pain'])['pulse_category'].value_counts()
stat_horse.groupby(['Age','rec_t_category'])['pulse_category'].value_counts()
#Проанализировав данные, мы видим, что в основном у всех лошадей повышен пульс.
#Чем выше боль, тем более учащен пульс
#При любой температуре пульс повышен, поэтому берем за основу для заполнения пустых значений показатели по боли

повышенная    223
нормальная     53
Name: pulse_category, dtype: int64
Age  pain
1    1.0      48.0
     2.0      72.0
     3.0      55.0
     4.0      77.5
     5.0      88.0
9    1.0      92.0
     2.0     124.0
     3.0     120.0
     4.0     128.0
     5.0     136.0
Name: pulse, dtype: float64

Age  rec_t_category  pulse_category
1    нормальная      повышенная        98
                     нормальная        31
     повышенная      повышенная        64
                     нормальная         7
     пониженная      повышенная        11
                     нормальная         3
9    нормальная      повышенная        10
                     нормальная         5
     повышенная      повышенная         3
                     нормальная         2
Name: pulse_category, dtype: int64

In [244]:
stat_horse['pulse'].fillna(stat_horse.groupby(['Age','pain'])['pulse'].transform('median'), inplace=True)
#Частично заполнили недостающие данные по пульсу

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [264]:
print(stat_horse.groupby('pain')['surgery'].value_counts())
stat_horse.groupby('pain')['surgery'].median()
#Провепяем теорию, что, чем выше боль, тем больше вероятность проведения операции

pain  surgery
1.0   2.0        29
      1.0         9
2.0   1.0        34
      2.0        25
3.0   1.0        39
      2.0        28
4.0   1.0        28
      2.0        10
5.0   1.0        33
      2.0         9
Name: surgery, dtype: int64

pain
1.0    2.0
2.0    1.0
3.0    1.0
4.0    1.0
5.0    1.0
Name: surgery, dtype: float64

In [278]:
#Заполняем пропуски по колонке опреация
stat_horse['surgery'].fillna(stat_horse['surgery'].mode()[0], inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [271]:
### Проанализируем частоту дыхания
print(stat_horse.respiratory_rate.mean())
print(stat_horse.respiratory_rate.median())
print(stat_horse.respiratory_rate.mode()[0])
print(stat_horse.respiratory_rate.std())

print('среднее', stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].mean())
print('медиана', stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].median())
print('мода', stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].agg(pd.Series.mode))
print('СКО', stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].std())
#провели анализ того как коррелируется температура с частотой дыхания.
#При повышенной температуре наблюдается более высокая частота дыхания
#Проводим анализ в соответствии с возрастом лошади, т.к. для молодого и взрослого животного нормой являются разные показатели
#Заполнять пропуски модой будет не корректно, т.к. для пониженной температуры для всех возрастов животного нет однозначного значения
#Заполним пропуски медианой, т.к. данный показатель ближе к истине. А значения средней сильно искажают крайние значения

30.27573529411765
27.0
30.0
17.0020966639489
среднее Age  rec_t_category
1    нормальная        25.267176
     повышенная        32.453333
     пониженная        27.214286
9    нормальная        51.933333
     повышенная        72.000000
Name: respiratory_rate, dtype: float64
медиана Age  rec_t_category
1    нормальная        23.0
     повышенная        30.0
     пониженная        28.0
9    нормальная        49.0
     повышенная        78.0
Name: respiratory_rate, dtype: float64
мода Age  rec_t_category
1    нормальная                                    12
     повышенная                                    30
     пониженная        [20.0, 24.0, 28.0, 30.0, 40.0]
9    нормальная                                    28
     повышенная        [30.0, 72.0, 78.0, 84.0, 96.0]
Name: respiratory_rate, dtype: object
СКО Age  rec_t_category
1    нормальная        13.814610
     повышенная        15.411731
     пониженная         9.031386
9    нормальная        22.098696
     повышенная        25.099801
Name: respiratory_rate, dtype: float64

In [248]:
stat_horse['respiratory_rate'].fillna(stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].transform('median'), inplace=True)

In [249]:
### Далее переходим к ректальной температуре
# На основании описания показателей, можно выявить следующую корреляцию:
# При повышенной темепратуре животное страдает от шока
# Так же о шоке говорит повышенный пульс, как следствие - повышенная температура
# Температура конечностей 3,4 должны иметь более высокую температуру
print(stat_horse.rectal_temperature.mean())
print(stat_horse.rectal_temperature.median())
print(stat_horse.rectal_temperature.mode()[0])
#На мое удивление, все основные показатели говорят о незначительном повышении температуры

38.16791666666669
38.2
38.0

In [250]:
print('среднее', stat_horse.groupby('Age')['rectal_temperature'].mean())
print('медиана', stat_horse.groupby('Age')['rectal_temperature'].median())
print('мода', stat_horse.groupby('Age')['rectal_temperature'].agg(pd.Series.mode))
print('СКО', stat_horse.groupby('Age')['rectal_temperature'].std())
print(stat_horse.rec_t_category.value_counts())
#Ту же закономерность, показала группировка по возрасту, если температура и повышена, то незначительно

среднее Age
1    38.124545
9    38.645000
Name: rectal_temperature, dtype: float64
медиана Age
1    38.1
9    38.6
Name: rectal_temperature, dtype: float64
мода Age
1    38.0
9    38.8
Name: rectal_temperature, dtype: float64
СКО Age
1    0.735988
9    0.490408
Name: rectal_temperature, dtype: float64
нормальная    146
повышенная     80
пониженная     14
Name: rec_t_category, dtype: int64

In [251]:
print('среднее', stat_horse.groupby(['Age', 'pain'])['rectal_temperature'].mean())
print('медиана', stat_horse.groupby(['Age', 'pain'])['rectal_temperature'].median())
print('мода', stat_horse.groupby(['Age', 'pain'])['rectal_temperature'].agg(pd.Series.mode))
#Посмотрела корреляцию температуры по уровню боли и возрасту, по данным показателям и будем заполнять пропуски

среднее Age  pain
1    1.0     38.097143
     2.0     38.411111
     3.0     38.073684
     4.0     37.900000
     5.0     38.130000
9    1.0     38.000000
     2.0     38.820000
     3.0     38.400000
     4.0     38.800000
     5.0     38.400000
Name: rectal_temperature, dtype: float64
медиана Age  pain
1    1.0     38.2
     2.0     38.3
     3.0     38.1
     4.0     38.0
     5.0     38.0
9    1.0     38.0
     2.0     38.8
     3.0     38.4
     4.0     38.8
     5.0     38.3
Name: rectal_temperature, dtype: float64
мода Age  pain
1    1.0                               38.6
     2.0                               38.5
     3.0                                 38
     4.0                               38.5
     5.0                                 38
9    1.0                                 38
     2.0     [38.2, 38.3, 38.8, 39.1, 39.7]
     3.0     [38.0, 38.1, 38.4, 38.6, 38.9]
     4.0                               38.8
     5.0                 [38.1, 38.3, 38.8]
Name: rectal_temperature, dtype: object

In [252]:
# Заполним пропуски медианой, т.к. она ближе к моде, и не должна сильно исказить данные для анализа
stat_horse['rectal_temperature'].fillna(stat_horse.groupby(['Age','pain'])['rectal_temperature'].transform('median'), inplace=True)

In [253]:
### Переходим к боли
print('среднее', stat_horse.pain.mean())
print('медиана', stat_horse.pain.median())
print('мода', stat_horse.pain.mode()[0])
stat_horse.pain.value_counts()
#Данный показаетль лучше заполнять модой т.к. он категорийный

среднее 2.951020408163265
медиана 3.0
мода 3.0

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

In [254]:
#Посмотрим корреляцию, чем выше боль, тем с большей вероятностью требуется операция
print('медиана', stat_horse.groupby('surgery')['pain'].median())
print('среднее', stat_horse.groupby('surgery')['pain'].mean())
print('мода', stat_horse.groupby('surgery')['pain'].agg(pd.Series.mode))
print(stat_horse.groupby('surgery')['pain'].value_counts())

медиана surgery
1.0    3.0
2.0    2.0
Name: pain, dtype: float64
среднее surgery
1.0    3.293706
2.0    2.455446
Name: pain, dtype: float64
мода surgery
1.0    3.0
2.0    1.0
Name: pain, dtype: float64
surgery  pain
1.0      3.0     39
         2.0     34
         5.0     33
         4.0     28
         1.0      9
2.0      1.0     29
         3.0     28
         2.0     25
         4.0     10
         5.0      9
Name: pain, dtype: int64

In [255]:
print(stat_horse.groupby(['surgery','outcome'])['pain'].value_counts())
print(stat_horse.groupby(['surgery','outcome'])['pain'].median())
#Посмотрела так же как коррелируется наличие операции с исходом по боли
# На основе анализа видно, что животное страдавшее от сильных болей чаще имело летальный исход
# Причем животные, которым проводилась операция, с большей вероятностью выживали

surgery  outcome  pain
1.0      1.0      3.0     33
                  2.0     15
                  5.0     10
                  1.0      9
                  4.0      8
         2.0      5.0     17
                  4.0     15
                  2.0     11
                  3.0      5
         3.0      2.0      8
                  5.0      6
                  4.0      5
                  3.0      1
2.0      1.0      1.0     26
                  3.0     21
                  2.0     18
                  4.0      2
                  5.0      2
         2.0      5.0      7
                  2.0      3
                  3.0      3
                  1.0      2
                  4.0      2
         3.0      4.0      6
                  2.0      4
                  3.0      4
                  1.0      1
Name: pain, dtype: int64
surgery  outcome
1.0      1.0        3.0
         2.0        4.0
         3.0        4.0
2.0      1.0        2.0
         2.0        4.0
         3.0        3.0
Name: pain, dtype: float64

In [282]:
stat_horse['fill_pain'] = stat_horse['pain'].fillna(stat_horse.groupby(['surgery','outcome'])['pain'].transform(lambda x: x.mode()[0]))

<ipython-input-282-3a6f0d5c6dec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['fill_pain'] = stat_horse['pain'].fillna(stat_horse.groupby(['surgery','outcome'])['pain'].transform(lambda x: x.mode()[0]))

In [283]:
# Т.к. больше данных по пропускам по боли у нас нет, то заполним пустоты по ректальной температуре по предыдущей логике
stat_horse['rectal_temperature'].fillna(stat_horse.groupby(['Age','fill_pain'])['rectal_temperature'].transform('median'), inplace=True)
stat_horse['rec_t_category'] = stat_horse.apply(rec_t_category, axis = 1)
# Далее запоолним оставшиеся пропуски по частоте дыхания
stat_horse['respiratory_rate'].fillna(stat_horse.groupby(['Age','rec_t_category'])['respiratory_rate'].transform('median'), inplace=True)
# И пульс
stat_horse['pulse'].fillna(stat_horse.groupby(['Age','fill_pain'])['pulse'].transform('median'), inplace=True)
stat_horse.head()

<ipython-input-283-0feadd8e4037>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['rec_t_category'] = stat_horse.apply(rec_t_category, axis = 1)

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,rec_t_category,pulse_category,resp_r_category,fill_pain
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,повышенная,повышенная,повышенная,5.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,повышенная,повышенная,нормальная,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,нормальная,нормальная,нормальная,3.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,повышенная,повышенная,повышенная,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0,нормальная,повышенная,повышенная,5.0

In [284]:
### Проанализируем температуру конечностей
print(stat_horse.temperature_of_extremities.mean())
print(stat_horse.temperature_of_extremities.median())
print(stat_horse.temperature_of_extremities.mode()[0])
print(stat_horse.groupby('rec_t_category')['temperature_of_extremities'].mean().round(0))
print(stat_horse.groupby('rec_t_category')['temperature_of_extremities'].median())
print(stat_horse.groupby('rec_t_category')['temperature_of_extremities'].agg(pd.Series.mode))
stat_horse.groupby('rec_t_category')['temperature_of_extremities'].value_counts()
#Данный анализ показывает, что действительно, при повышенной температуре температура конечностей так же повышена
# А при пониженной, животное находится в состоянии шока (температура понижена)
# Значения среднего и медианы для данного показателя будут совсем не корректны, т.к. показатель категорийный, заполним пропуски модой

2.348360655737705
3.0
3.0
rec_t_category
нормальная    2.0
повышенная    2.0
пониженная    2.0
Name: temperature_of_extremities, dtype: float64
rec_t_category
нормальная    3.0
повышенная    3.0
пониженная    3.0
Name: temperature_of_extremities, dtype: float64
rec_t_category
нормальная    3.0
повышенная    3.0
пониженная    3.0
Name: temperature_of_extremities, dtype: float64

rec_t_category  temperature_of_extremities
нормальная      3.0                           74
                1.0                           56
                2.0                           17
                4.0                           17
повышенная      3.0                           28
                1.0                           20
                2.0                           12
                4.0                           10
пониженная      3.0                            7
                1.0                            2
                2.0                            1
Name: temperature_of_extremities, dtype: int64

In [285]:
# А вот тут у меня возникла проблема, никак не могу найти инфо как заполнить пропуски groupbu  модой
# Т.е. я хотела сгруппировоать данные по категории температуры (пониженная, повышенная или нормальная) и применить моду к данным категориям
# Но т.к. 3ех дневные поиски не дали мне результатов пришлось заполнить просто модой:(
stat_horse['fill_temp_of_extremities'] = stat_horse['temperature_of_extremities'].fillna(stat_horse.groupby('rec_t_category')['temperature_of_extremities'].transform(lambda x: x.mode()[0]))
stat_horse.head(10)

<ipython-input-285-89956e52eb12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stat_horse['fill_temp_of_extremities'] = stat_horse['temperature_of_extremities'].fillna(stat_horse.groupby('rec_t_category')['temperature_of_extremities'].transform(lambda x: x.mode()[0]))

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,rec_t_category,pulse_category,resp_r_category,fill_pain,fill_temp_of_extremities
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,повышенная,повышенная,повышенная,5.0,3.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,повышенная,повышенная,нормальная,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,нормальная,нормальная,нормальная,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,повышенная,повышенная,повышенная,2.0,4.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0,нормальная,повышенная,повышенная,5.0,3.0
5,2.0,1,38.3,72.0,23.0,2.0,2.0,1.0,нормальная,NaN,NaN,2.0,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0,нормальная,повышенная,нормальная,3.0,1.0
7,1.0,1,38.0,60.0,23.0,3.0,NaN,2.0,нормальная,повышенная,NaN,5.0,3.0
8,2.0,1,38.0,80.0,36.0,3.0,4.0,3.0,нормальная,повышенная,повышенная,4.0,3.0
9,2.0,9,38.3,90.0,49.0,1.0,5.0,1.0,нормальная,нормальная,NaN,5.0,1.0

In [290]:
#Удалим лишние столбца
stat_horse_final = stat_horse.drop(['temperature_of_extremities', 'pain', 'rec_t_category', 'pulse_category', 'resp_r_category'], axis = 1)
stat_horse_final.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,outcome,fill_pain,fill_temp_of_extremities
0,2.0,1,38.5,66.0,28.0,2.0,5.0,3.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,2.0,2.0,4.0
4,2.0,1,37.3,104.0,35.0,2.0,5.0,3.0

In [291]:
stat_horse_final.describe()
#Итоговые статисика после заполнения пустот исказилась на мой взгляд не значительно

,surgery,Age,rectal_temperature,pulse,respiratory_rate,outcome,fill_pain,fill_temp_of_extremities
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.00000,300.000000
mean,1.396667,1.640000,38.161000,72.430000,29.763333,1.553333,2.93000,2.470000
std,0.490023,2.173972,0.660062,28.174951,16.384204,0.736408,1.33079,0.975845
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.100000,65.500000,24.000000,1.000000,3.00000,3.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,2.000000,4.00000,3.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,3.000000,5.00000,4.000000