In [121]:
import pandas as pd

In [167]:
### Задание 1
data = pd.read_csv('ratings.csv')
best_score = data[['movieId', 'rating']].loc[data['rating'] == float('5.0')]
best_score.head()
best_score['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [ ]:
data = pd.read_csv('ratings.csv')

In [222]:
### Задание 2
data = pd.read_csv('power.csv')
data.head()
filtered_countries = data[(data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia')]
#фильтруем датасет по интересующим нас странам
filtered_year = filtered_countries[(filtered_countries['year'] >= int('2005')) & (filtered_countries['year'] <= int('2010'))]
#фильтруем по нужному диапозону лет
filtered_category = filtered_year[(filtered_year['category'] == int('4')) | (filtered_year['category'] == int('12')) | (filtered_year['category'] == int('21'))]
#фильтруем по интересующим нас категориям
filtered_data = filtered_category[['country', 'quantity']].loc[(filtered_category['quantity'] > int('0'))]
#фильтруем значения quantity больше 0
filtered_data.groupby('country')['quantity'].sum()
#группируем данные по странам и суммируем по quantity

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64

In [225]:
### Задание 3
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  91.95      -0.12         -0.13        NaN
1       USDRUB Курс рубля к доллару  77.24      -0.17         -0.22        NaN